<app-loading *ngIf="loading"></app-loading>
<div class="col-12 mt-2 animated fast fadeIn" style="padding-left: 0px;">
    <app-search></app-search>
</div>
<div class="container">
    <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Thumbnail Gallery</h1>
    <hr class="mt-2 mb-5">
    <div class="row text-center text-lg-left">
        <div *ngFor="let photo of photos" class="col-lg-3 col-md-4 col-6 animated fast fadeIn">
            <a [routerLink]="[photo._id]" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" [src]="photo.imageURL" [alt]="photo.title" width="400px" height="300px">
            </a>
        </div>
    </div>
</div>