<app-loading *ngIf="loading"></app-loading>
<div class="col-6 mt-2" style="padding-left: 0px;">
  <app-search></app-search>
</div>
<div class="row mt-4">
  <div
    *ngFor="let photo of photos"
    class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-2"
  >
    <div class="card">
      <img [src]="photo.imageURL" class="card-img-top" height="200px" />
      <div class="card-body">
        <h5 class="card-title">{{ photo.title }}</h5>
        <p class="card-text">{{ photo.description }}</p>
        <button
          (click)="deletePhoto(photo._id)"
          class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Delete photo"
        >
        <i class="fas fa-trash-alt"></i>
        </button>
      </div>
    </div>
  </div>
</div>