<div class="row" *ngIf="!photos; else main_content">
  <h1>Loading...</h1>
</div>
<ng-template #main_content>
  <div class="row mt-4">
    <div
      class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-2"
    >
      <div class="card">
        <img  class="card-img-top" height="200px" />
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text"></p>
          <button
           
            class="btn btn-danger"
          >
            Remove photo from album
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
